<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>The Baking Room</title>
	<link rel="stylesheet" href="/css/font-awesome/css/font-awesome.min.css" />
	<link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,700,300italic' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Shadows+Into+Light" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Vollkorn+SC" rel="stylesheet">
	<link rel="stylesheet" href="/css/bootstrap/bootstrap.min.css" />
	<link rel="stylesheet" href="/css/animat/animate.min.css" />
	<link rel="stylesheet" href="/css/fancybox/jquery.fancybox.css" />
	<link rel="stylesheet" href="/css/nivo-lightbox/nivo-lightbox.css" />
	<link rel="stylesheet" href="/css/themes/default/default.css" />
	<link rel="stylesheet" href="/css/owl-carousel/owl.carousel.css" />
	<link rel="stylesheet" href="/css/owl-carousel/owl.theme.css" />
	<link rel="stylesheet" href="/css/owl-carousel/owl.transitions.css">
	<link rel="stylesheet" href="/css/style.css" />
	<link rel="stylesheet" href="/css/responsive.css" />
	<link rel="stylesheet" href="/css/odometer-theme-train-station.css" />
</head>
<body>
	<div class='preloader'><div class='loaded'>&nbsp;</div></div>
	<header id="home" class="header">

		<div class="main_menu_bg navbar-fixed-top wow slideInDown" data-wow-duration="1s">
			<div class="container">
				<div class="row">
					<div class="nave_menu">
					<nav class="navbar navbar-default">
					  <div class="container-fluid">
						<!-- Brand and toggle get grouped for better mobile display -->
						<div class="navbar-header">
						  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						  </button>

						</div>

						<!-- Collect the nav links, forms, and other content for toggling -->
						<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
							<ul class="nav navbar-nav navbar-left">
								<li class="active"><a><h5 style="font-family: 'Shadows Into Light', cursive;font-size: 30px;">The Baking Room</h5></a></li>
							</ul>
						  <ul class="nav navbar-nav navbar-right">

							<li class="active"><a href="#home">Home</a></li>
							<li><a href="#features">About Us</a></li>
							<li><a href="#special">Featuring this month</a></li>
							<li><a href="#menus">Menu</a></li>
							<li><a href="#order_online">Order Online</a></li>
							<li><a href="#footer">Contact Us</a></li>
							<% if ( user ) { %>
							<li><a href="#">Hello <%= user %></a></li>
							<li><a href="/logout">Logout</a></li>
							<% } else { %>
							<li><a href="/login">Login</a></li>
							<li><a href="/register">SignUp</a></li>
							<% } %>

						  </ul>
						</div><!-- /.navbar-collapse -->
					  </div><!-- /.container-fluid -->
					</nav>
					</div>
				</div><!--End of row -->

			</div><!--End of container -->

		</div>
	</header> <!--End of header -->



	<section id="banner" class="banner">
		<div class="container">
			<div class="row">
				<div class="main_banner_area text-center">
					<div class="col-md-5 col-sm-5 col-md-offset-7 col-sm-offset-7">
						<div class="single_banner_text wow zoomIn" data-wow-duration="1s">
							<p>Finest of indulgence, right in the heart of your city!</p>
							<div class="separetor"></div>
						</div>
					</div>

					<div class="scrolldown" id="basic-waypoint">
						<a href="#features" class="scroll_btn"></a>
					</div>
				</div>


			</div>
		</div>
	</section><!-- End of Banner Section -->

	<section id="features" class="features sections" style="background: url(images/chefnote.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;">
				<!-- <script type="text/javascript">
				   load_num();
				</script> -->
		<div class="container">
			<div class="row">
				<div class="features_content text-center">
					<div class="col-md-4">
						<div class="sinle_features wow slideInUp" data-wow-duration="1s">
							<div id="odometer" class="odometer" style="font-size: 60px;">000</div>
							<h4 style="color:white;font-size: 35px; font-family: 'Vollkorn SC', serif;">Happy Customers</h4>
						</div>
					</div>
					<div class="col-md-4">
						<div class="sinle_features wow slideInUp" data-wow-duration="1.5s">
							<div id="odometer2" class="odometer" style="font-size: 60px;">000</div>
							<h4 style="color:white;font-size: 35px; font-family: 'Vollkorn SC', serif;">Orders Received</h4>
						</div>
					</div>
					<div class="col-md-4">
						<div class="sinle_features wow slideInUp" data-wow-duration="2s">
							<div id="odometer3" class="odometer" style="font-size: 60px;">000</div>
							<h4 style="color:white;font-size: 35px; font-family: 'Vollkorn SC', serif;">Total Footfall</h4>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- End of Abouts Section -->

	<section id="abouts" class="abouts sections">
		<div class="container">
			<div class="row">
				<div class="main_abouts">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="single_abouts wow slideInLeft" data-wow-duration="2s">
							<div class="head_title text-center">
								<h2>About us</h2>
								<div class="separetor"></div>
							</div>
						</div>
					</div>

					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="single_abouts wow slideInRight" data-wow-duration="2s">
							<img src="images/abimg.png" alt="" />
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- End of Abouts Section -->

	<section id="special" class="special sections">
		<div class="container">
			<div class="row">
				<div class="head_title text-center wow slideInLeft" data-wow-duration="1.5s">
					<h2>Today's Specials</h2>
					<div class="separetor"></div>
				</div>
				<div class="main_special text-center wow slideInUp" data-wow-duration="3s">
					<% for(var i=0; i < list.length ; i++) { %>
					<div class="col-md-3 col-sm-3 col-xs-6 single_special" align="center">
						<div class="single_special_img">
							<img src='<%= list[i].Imagee %>' alt="" height='260' width='260' />
							<div class="single_special_overlay text-center">
								<h3><%= list[i].pname %></h3>
								<div class="overlay_separetor"></div>
								<p><%= list[i].pdsec %></p>
								<p><%= list[i].cost %></p>
							</div>
						</div>
					</div>
					<% } %>
				</div>
			</div>
		</div>
	</section>

	<section id="menus" class="menus sections">
		<div class="container">
			<div class="row">
				<div class="main_menus">
					<div class="head_title text-center wow slideInDown" data-wow-duration="2s">
						<h2>Menu</h2>
						<div class="separetor"></div>
					</div>

					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="single_menus wow slideInLeft" data-wow-duration="1.5s">
							<ul>
								<li> CHOCOLATE MOUSSE CAKE................................................... Rs. 900 </li>
								<li> MIXED BERRY CHEESECAKE.................................................. Rs. 850 </li>
								<li> BANOFFEE PIE & CREAM.................................................... Rs. 900 </li>
								<li> APPLE CRUMBLE........................................................... Rs. 1000 </li>
							</ul>
						</div>
					</div>

					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="single_menus wow slideInRight" data-wow-duration="1.5s">
							<ul>
								<li> MISSIPPI MUDD PIE........................................................ Rs. 1100 </li>
								<li> IRISH CREAM CAKE.......................................................... Rs. 950 </li>
								<li> STRABBERY WAFFLES........................................................ Rs. 200 </li>
								<li> CARAMEL FUDGE CAKE...................................................... Rs. 950 </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="order_online" class="features sections" style="background: url(images/order_online_img.jpg) no-repeat center center fixed;
				-webkit-background-size: cover;
				-moz-background-size: cover;
				-o-background-size: cover;
				background-size: cover;">
		<div class="container">
			<div class="head_title text-center">
				<h2>Order Online</h2>
				<div class="separetor"></div>
			</div>
			<div class="row">
				<div class="features_content text-center">
					<div class="col-md-5">
						<div class="sinle_features wow slideInUp" data-wow-duration="1s">
							<h5>Bringing you the best from east to west, right from our kitchen to your doorstep!</h5>
						</div>
					</div>
					<div class="col-md-4">
						<div class="sinle_features wow slideInUp" data-wow-duration="1.5s">
						</div>
					</div>
					<div class="col-md-3">
						<div class="sinle_features wow slideInUp" data-wow-duration="2s">
							<div class="form_btn_area text-center">
								<a href="/ecomm" class="btn">Browse</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section><!-- End of Abouts Section -->

	<!-- footer Section -->

	<footer id="footer" class="footer">
		<div class="container">
			<div class="row">

				<div class="col-sm-5 col-sm-offset-8 col-xs-10 col-xs-offset-2">
					<div class="contact_area wow slideInLeft" data-wow-duration="2s">
						<div class="head_title text-center">
							<h2>Contact</h2>
							<div class="separetor"></div>
						</div>

						<div class="main_contact_content">
							<div class="row">
								<div class="col-sm-6">
									<div class="single_contact text-left">
										<h5>The Baking Room</h5>
										<span>In the middle of Nowehere,</span>
										<span>Yet at the centre of your heart</span>
									</div>
								</div>

								<div class="col-sm-6">
									<div class="single_contact text-left">
										<h5>Reservations</h5>
										<span>reservations@thebakingroom.com</span>
										<span>+91 9999999999</span>
									</div>
								</div>
							</div>

							<div class="sinle_features wow slideInUp" data-wow-duration="2s">
								<div class="form_btn_area text-center">
									<a href="https://thebakingroom-188121.firebaseapp.com/" class="btn" target="_blank">Join the live Chat!</a>
								</div>
							</div>

						</div>

					</div>
				</div>
			</div>


			<div class="row">
				<div class="copyright_text_area">
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="single_footer text-right wow zoomIn" data-wow-duration="2s">
							<p>Made with <i class="fa fa-heart"></i> by The Baking Room. All Rights Reserved</p>
						</div>
					</div>
					<div class="col-md-6 col-sm-6 col-xs-12">
						<div class="single_footer text-right">

							<div class="footer_socail wow zoomIn" data-wow-duration="1.5s">
								<a href=""><i class="fa fa-facebook"></i></a>
								<a href=""><i class="fa fa-linkedin"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</footer>



	<!-- STRAT SCROLL TO TOP -->

	<div class="scrollup">
		<a href="#"><i class="fa fa-chevron-up"></i></a>
	</div>

	<script type="text/javascript" src="/js/jquery/jquery.js"></script>
	<script type="text/javascript" src="/js/script.js"></script>
	<script type="text/javascript" src="/js/bootstrap/bootstrap.min.js"></script>
	<script type="text/javascript" src="/js/fancybox/jquery.fancybox.pack.js"></script>
	<script type="text/javascript" src="/js/nivo-lightbox/nivo-lightbox.min.js"></script>
	<script type="text/javascript" src="/js/owl-carousel/owl.carousel.min.js"></script>
	<script src="/js/odometer.min.js"></script>
	<script src="/js/jquery.waypoints.js"></script>
	<script type="text/javascript" src="/js/jquery-easing/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="/js/wow/wow.min.js"></script>
	<script type="text/javascript">
		var waypoint = new Waypoint({
		  element: document.getElementById('basic-waypoint'),
		  handler: function() {
		    odometer.innerHTML = 3500;
		    odometer2.innerHTML = 9854;
		    odometer3.innerHTML = 20087;
		  }
		});
	</script>
</body>
</html>
